/target
*.bak
/none
/many
link_dir
link_txt
link_invalid
stderr.txt
/build
/rolf-windows-*

bash_icon_small.png
passport.jpg
skrollok.jpg

flamegraph.svg*
perf.data*
heaptrack*
two_images_loaded.svg
basic.svg
.0_images/
.0_videos/
.0_text/
.demo_images/
ssl/

.cargo/config

Wezterm-*/
Wezterm/
Wezterm*.zip

config.json
rolfrc

Start-Ssh.ps1
